{% extends 'base.html.twig' %}

{# {% form_theme contactform %} #}

{% block title %}My Contacts{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center text-primary">Create New Contact</h2>
        <br />
        {{ include ('contacts/common/contact-form.html.twig',{contactform: contactform, button: 'Submit'}) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/newcontact.js')}}" type="text/javascript"></script>
{% endblock %}