{% extends 'base.html.twig' %}

{% block title %}My Contacts{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center text-primary">{{contact.firstname}} {{contact.lastname}}</h2>
        <p class="text-center text-muted">created on {{contact.createdAt | date('F d Y')}} at {{contact.createdAt | date('h:i')}}</p>
        <br />
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Emails
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">An item</li>
                                    <li class="list-group-item">A second item</li>
                                    <li class="list-group-item">A third item</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    Telephones
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">An item</li>
                                    <li class="list-group-item">A second item</li>
                                    <li class="list-group-item">A third item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
{% endblock %}
